body{
	font: normal 1em 'Numans', sans-serif;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}
.frame{
	/*background: #7b8f80;*/
	background: #778f79;
	padding:50px;
}
.hex{
	width: 400px;
	margin: 0 auto;
	z-index: 0;
}
.top{
	border-bottom: 100px solid #ede6d4;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
}
.bottom{
	border-top: 100px solid #ede6d4;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
}
.mid{
	/*width: 500px;*/
	height: 200px;	
	/*background: rgba(225,255,255,0.8);*/
	background: #ede6d4;
}
.mid{
    position: relative;
}
.mid img{
	position: absolute;
}
#shape1 .mid img{
	top: -20%;
	left: 32%;
}
#shape2 .mid img{
	top: 10%;
	left: 42%;
} 
#copy{
	color: #4d1e15; 
	width: 200px;
	margin: 0 auto;
	text-align: center;
	font-size: 0.75em;
}
.diamond{
	width: 200px;
	margin: -100px auto;
	z-index: 100;
}
.diamond .top{
	border-bottom: 50px solid #fff;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;	
}
.diamond .bottom{
	border-top: 50px solid #fff;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;	
}
.pointer-top{
	border-bottom: 5px solid #4d1e15;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
}
.pointer-bottom{
	border-top: 5px solid #4d1e15;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
}
.endCopy{
	color: white;
	text-align: center;
}
.endCopy h1 {
	font-weight: normal;
	font-size: 0.7em;
	letter-spacing: 0.125em;
}
.endCopy p {
	font-size: 1.125em;
}