body{
	font: normal 1em sans-serif;
	letter-spacing: 0.25em;
}
.frame{
	/*background: #7b8f80;*/
	background: #778f79;
	padding:50px;
}
.hex{
	width: 400px;
	margin: 0 auto;
}
.top{
	border-bottom: 100px solid #ede6d4;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
}
.bottom{
	border-top: 100px solid #ede6d4;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
}
.mid{
	/*width: 500px;*/
	height: 200px;	
	/*background: rgba(225,255,255,0.8);*/
	background: #ede6d4;
}
.mid{
    position: relative;
}
.mid img{
	position: absolute;
}
#shape1 .mid img{
	top: -20%;
	left: 32%;
}
#shape2 .mid img{
	top: 10%;
	left: 42%;
} 
.endCopy{
	color: white;
	text-transform: uppercase;
	text-align: center;
}
.endCopy h1 {
	font-weight: normal;
	font-size: 0.7em;
}
.endCopy p {
	font-size: 1.125em;
}